@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
    font-family: 'Comfortaa', sans-serif;
}



.name {
    text-align: center;
}

img {
    width: 50%; 
    height: 50%;
}



html {
    background-image: url("/home/std/Chibarchikov-231-365-web-dev-2023-1/Chibarchikov-231-365-web-dev-2023-1-1/lab22/img/popitka2.jpg");
}

.container {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
    margin-right: 25%;
}
